*{
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.flex{
    display: flex;
}
.cabecalho{
    margin: 0 auto; 
}
a{
    text-decoration: none;
}
body{
    background-color: #f2efef;
    height: 100vh;
}
header{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px ;
    background-color: #26202A;
    border-radius: 20px;
    padding: 10px 6% ;
    height: 85px;
}
header > .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    position: relative;
    bottom: 10px;
}
header .logo{
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 60px;
    height: 40px;

}
header a{
    text-decoration: none;
    transition: .2s;
    color: #FFFFFF;
}
header a:hover{
    color: #f19008;
    
}
header nav ul{
    list-style-type: none;
}
header nav.menu-desktop{
    margin-left: 110px;
    
}
header nav ul li{
    display: inline-flex;
    padding: 16px 40px;
    font-size: 18px;
}
    
.btn-button button{
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 500; /*aumenta o peso da fonte*/
    background-color: #eeeeee;
    color: #121212;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-button button:hover{
    color: #121212;
    transform: scale(1.0);
    border: 2px solid #121212;
}

/* Contador regressivo */
.contagem{
    margin: 2px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.contagem div{
    font-size: 26px;
    padding: 15px;
    width: 80px;
    height: 60px;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: #FF9F18;
    color:#FFFFFF ;
  
}
.contagem-regressiva p{
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 12px auto;
    padding: 16px;
    background-color: #00115E;
    border-radius: 10px;
    color: #00EAAB;
}

/* imagens modelo adaptativo responsivo */
img{
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.txt-topo-site{
    position: absolute;
    top: 80%; /* Ajuste conforme necessário */
    left: 22%; /* Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza o texto */
    color: white; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    text-align: left; /* Centraliza o texto */
    padding: 10px; /* Espaçamento interno */
    
}






/* main */
section.topo-do-site{
    /* border: 12px solid rgb(255, 225, 0); */
    background-image: url("/img/banner-1.png");
    box-shadow: 24px 2px 18px rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
}
.container{
    /* border: 4px solid rgb(47, 0, 255); */
    margin-top: 20px;
    box-sizing: border-box;
}
.texto-capa {
    padding-top: 50px;
    /* border: 2px solid red; */
    max-width: 630px;
}
.texto-capa h1, p{
    padding: 30px;
    color: #F7F7F7;
}
.texto-capa  p{
    font-size: 20px;
}
.texto-capa  h1{
    font-size: 40px;
}
.btn-button {
    display: flex;       /* Utiliza flexbox para facilitar a centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;/* Centraliza verticalmente (se necessário) */
}
.aluna-medicina{
    box-sizing: border-box;
    position: relative;
    top: 5px;
}

/* Segunda parte do topo do site */

.planos p, h1{
    color: #25272D;
}
.planos{
    /* border: 2px solid red; */
    padding-top: 50px;
    text-align: center;
    margin: auto;
    font-size: 22px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.planos p{
    font-size: 20px;
}

/* parte dos planos disponíveis */

.plano-unico{
    background-color: #dfdfdf;
    border-radius: 14px;
    width: 400px;
    height: 760px;
    margin: 20px auto;
}


.capa-plano-unico{
    background-color: #121212;
    border-radius: 10px 10px 0 0;
    width: 399x;
    height: 260px;
}

.texto-plano{
    padding-top: 40px;
    text-align: center;
}
.texto-plano h1, h4{
    color: #F7F7F7;
    font-size: 20px;
    text-shadow: #00000099 2px 1px 2px;
}


.preco{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.preco h1{
    font-size: 57px;
}
.preco h1, h5{
    color: #F7F7F7;
    text-shadow: #00000064 2px 1px 2px;
}

.plano-unico p{
    color: #000;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* Carrousel */

.interface{
    background-color: #121212;
    box-shadow: 24px 2px 20px rgb(0, 0, 0);
    padding: 0; /* Adicionado */
    margin: 0; /* Adicionado */
}
.interface .owl-carousel{
    margin-top: 20px;
    color: #ffa806;
    padding: 20px 5%;
}




.interface span{
    color: #25272D;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.interface .depoimentos{
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
}
.interface .depoimentos h1{
    color: #ebebeb;
    text-shadow: #1b1a1a99 5px 1px 2px;
}
#arrasta-carousel{
    text-align: center;
}
.fotos-alunos img{
    border-radius: 10px;
    display: block; /* Adicionado */
    margin: 0 auto; /* Adicionado */
}

.more-text {
    display: none;
}

.ler-mais {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.ler-mais:hover {
    text-decoration: underline;
}



   

/* Sobre */

.sobre .professores{
    height: 400px;
    width: 300px;
    background-color: #00115E;
    text-align: center;
    border-radius: 6px;
}
.sobre .professores h1{
    color: #ebebeb;
    text-align: center;
}

.img-professores img{
    border-radius: 50%;
    background-color: #FF9F18;
    width: 50%;
}
.img-professores{
    margin-top: 20px;
    text-align: center;
}
#renan-mexer{
    position: relative;
    top: 20px;
}
.setor{
    margin-top: 20px;
}
.descricao-professores{
    font-size: 20px;
}
.sobre{
    margin-top: 50px;
    text-align: center;
    padding: 40px;
}
.sobre h1{
    font-family: 'Franklin Gothic Medium';
    font-size: 32px;
    color: #f19008;
    
}

.sobre .flex{
    margin-top: 20px;
    justify-content: center;
    gap: 100px;
}

.sobre .redes-sociais i{
    color: #f19008;
    background-color: #d5caca3e;
    padding: 10px 8px;
    margin: 0 auto;
    width: 50%;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-size: 13px;
    transition: .2s;
    display: block;

}

.sobre.redes-sociais i:hover{
    transform: scale(1.0);
    background-color: #f19008;
    color: #dcd8d8;
}

.txt-sobre p, h1, h2{

    color: #000;
   
    
}
.txt-sobre h2{
    margin-top: 80px;
}
.corpoTodo{
    margin-top: 50px;
    
}
.img-sobre img{
    height: 500px;
    width: 700px;
   position: relative;
   top: 4px;
}

/* Menu-mobile */

.menu-mobile{
    background-color: #000;
    height: 1000vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}
.btn-abrir-menu{
    display: none;
}


/* Footer */
footer{
    background-color: #121212;
}
footer .nome-professores, .direitos-reservados {
    padding: 54px;
    margin: auto;
}
footer .nome-professores p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
}

footer .direitos-reservados p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 928px){
.flex{
    flex-direction: column;
}
.sobre .professores{
    height: 400px;
    width: 300px;
    background-color: #00115E;
    text-align: center;
    border-radius: 6px;
    margin: auto;
}
.linha{
    height: 2px;
    width: 200px;
    background-color: #dcd8d8;
    margin: auto;
}
}

@media screen and (min-width: 1300px){
    section.topo-do-site{
        /* border: 12px solid rgb(255, 225, 0); */
        background-image: url("/img/banner-1.png");
        box-shadow: 24px 2px 18px rgb(0, 0, 0);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 924px){

    .texto-capa {
        padding-top: 50px;
        /* border: 2px solid red; */
        max-width: 630px;
        margin: auto;
    }
    .aluna-medicina{
        margin: auto;
    }
     /* Cabeçalho */
     header .menu-desktop, header .btn-contato{
        display: none;
    }

    
    }
